<div id='Left'>
    <h1 id='Name'>{{name1}}</h1>
    <img src='{{image1}}'/>
    <p id='Release'>{{release1}}</p>
    <p id='genre'>{{genre1}}</p>
    <p id='price'>{{price1}}</p>
    <p id='developer'>{{developer1}}</p>
</div>

<div id='Right'>
    <h1 id='Name'>{{name2}}</h1>
    <img src='{{image2}}'/>
    <p id='Release'>{{release2}}</p>
    <p id='genre'>{{genre2}}</p>
    <p id='price'>{{price2}}</p>
    <p id='developer'>{{developer2}}</p>
</div>

<script 
    src="https://code.jquery.com/jquery-2.2.4.min.js" 
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous">
</script>
<script src="/public/js/form.js"></script>