<div id='Left'>
    <h1 id='Name'>{{Name1}}</h1>
    <img src='{{Image1}}'/>
    <p id='Release'>{{Release1}}</p>
    <p id='genre'>{{Genre1}}</p>
    <p id='price'>{{Price1}}</p>

</div>

<div id='Right'>
    <h1 id='Name'>{{Name2}}</h1>
    <img src='{{Image2}}'/>
    <p id='Release'>{{Release2}}</p>
    <p id='genre'>{{Genre2}}</p>
    <p id='price'>{{Price2}}</p>
</div>

<script 
    src="https://code.jquery.com/jquery-2.2.4.min.js" 
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous">
</script>
<script src="/public/js/form.js"></script>